.parent-box {
    width: 500px;
    height: 500px;
    background-color: #fca9d1;
    padding: 20px;
    margin: 20px;
    margin: auto;
    width: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .child-box {
    width: 450px;
    height: 300px;
    background-color: #f6ffc2;
    padding: 18px;
    margin: 18px;
    margin: auto;
    width: 50%;
  }
  body {
    font-family: Verdana, sans-serif;
    color: #4a2f1f;
    background-color: #8a806e;
  }